ftpid_node-red.json
[
    {
        "id": "6bc919fd9f39f462",
        "type": "tab",
        "label": "PID complet",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "262e72097cdc91f4",
        "type": "inject",
        "z": "6bc919fd9f39f462",
        "name": "initialisation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "message_complet",
        "payload": "{}",
        "payloadType": "json",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "f9410521e46e39b4"
            ]
        ]
    },
    {
        "id": "f9410521e46e39b4",
        "type": "change",
        "z": "6bc919fd9f39f462",
        "name": "Kp = 10",
        "rules": [
            {
                "t": "set",
                "p": "payload.cont.Kp",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 500,
        "wires": [
            [
                "d7ad3b7c2d3c58f2"
            ]
        ]
    },
    {
        "id": "d7ad3b7c2d3c58f2",
        "type": "change",
        "z": "6bc919fd9f39f462",
        "name": "Ki = 0,5 %",
        "rules": [
            {
                "t": "set",
                "p": "payload.cont.Ki",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 500,
        "wires": [
            [
                "84424ecbd0462fa2"
            ]
        ]
    },
    {
        "id": "84424ecbd0462fa2",
        "type": "change",
        "z": "6bc919fd9f39f462",
        "name": "Kd = 50%",
        "rules": [
            {
                "t": "set",
                "p": "payload.cont.Kd",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 500,
        "wires": [
            [
                "cc09ae5d575f8d63"
            ]
        ]
    },
    {
        "id": "8b8867a22e2246cd",
        "type": "change",
        "z": "6bc919fd9f39f462",
        "name": "C = 3",
        "rules": [
            {
                "t": "set",
                "p": "payload.sys.C",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 620,
        "wires": [
            [
                "0a5fae5d10a5cdd2"
            ]
        ]
    },
    {
        "id": "0a5fae5d10a5cdd2",
        "type": "change",
        "z": "6bc919fd9f39f462",
        "name": "R = 5,5",
        "rules": [
            {
                "t": "set",
                "p": "payload.sys.R",
                "pt": "msg",
                "to": "5.5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 620,
        "wires": [
            [
                "51ed067de23a975f"
            ]
        ]
    },
    {
        "id": "0cee68421c1b3328",
        "type": "change",
        "z": "6bc919fd9f39f462",
        "name": "Text = 12°C",
        "rules": [
            {
                "t": "set",
                "p": "payload.sys.Text",
                "pt": "msg",
                "to": "12",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 660,
        "wires": [
            [
                "00a3da5c35a0a02d"
            ]
        ]
    },
    {
        "id": "00a3da5c35a0a02d",
        "type": "change",
        "z": "6bc919fd9f39f462",
        "name": "Pconst = 2000 W",
        "rules": [
            {
                "t": "set",
                "p": "payload.sys.Pconst",
                "pt": "msg",
                "to": "-20",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 660,
        "wires": [
            [
                "e521d03a63f98daf"
            ]
        ]
    },
    {
        "id": "51ed067de23a975f",
        "type": "change",
        "z": "6bc919fd9f39f462",
        "name": "Tmes = 18°C",
        "rules": [
            {
                "t": "set",
                "p": "payload.sys.Tmes",
                "pt": "msg",
                "to": "18",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 620,
        "wires": [
            [
                "0cee68421c1b3328"
            ]
        ]
    },
    {
        "id": "e521d03a63f98daf",
        "type": "change",
        "z": "6bc919fd9f39f462",
        "name": "Tcons = 21°C",
        "rules": [
            {
                "t": "set",
                "p": "payload.var.Tcons",
                "pt": "msg",
                "to": "21",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 740,
        "wires": [
            [
                "f9065de5258d68ec",
                "b037d549c63496f3"
            ]
        ]
    },
    {
        "id": "478dbf3bd059bca5",
        "type": "debug",
        "z": "6bc919fd9f39f462",
        "name": "Calcul Tmes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.sys.Tmes",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2610,
        "y": 660,
        "wires": []
    },
    {
        "id": "2430ab65e2d1fab7",
        "type": "function",
        "z": "6bc919fd9f39f462",
        "name": "Calcul du nouveau Tmes",
        "func": "msg.payload.sys.Tmes=(1-1/(msg.payload.sys.R*msg.payload.sys.C))*msg.payload.sys.Tmes+1/(msg.payload.sys.R*msg.payload.sys.C)*msg.payload.sys.Text+1/(msg.payload.sys.C)*(msg.payload.sys.Pconst+msg.payload.var.Pchauf);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2330,
        "y": 740,
        "wires": [
            [
                "478dbf3bd059bca5",
                "12f0cc2749236668"
            ]
        ]
    },
    {
        "id": "b037d549c63496f3",
        "type": "function",
        "z": "6bc919fd9f39f462",
        "name": "Calcul de l'erreur",
        "func": "msg.payload.var.Erreur = msg.payload.var.Tcons - msg.payload.sys.Tmes;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 740,
        "wires": [
            [
                "e7e03ad2ec4d9487",
                "5788c13b752ef2fa"
            ]
        ]
    },
    {
        "id": "cc09ae5d575f8d63",
        "type": "change",
        "z": "6bc919fd9f39f462",
        "name": "err_int_init",
        "rules": [
            {
                "t": "set",
                "p": "payload.cont.E_int",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 540,
        "wires": [
            [
                "fe0f18f1a885619f"
            ]
        ]
    },
    {
        "id": "e7e03ad2ec4d9487",
        "type": "debug",
        "z": "6bc919fd9f39f462",
        "name": "Calcul Erreur",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.var.Erreur",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 660,
        "wires": []
    },
    {
        "id": "5788c13b752ef2fa",
        "type": "function",
        "z": "6bc919fd9f39f462",
        "name": "Calcul de P",
        "func": "msg.payload.var.P = msg.payload.cont.Kp * msg.payload.var.Erreur;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 740,
        "wires": [
            [
                "794e5ffdad0d8d9f",
                "c0b0ae7824e649fe"
            ]
        ]
    },
    {
        "id": "794e5ffdad0d8d9f",
        "type": "debug",
        "z": "6bc919fd9f39f462",
        "name": "Calcul de P",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.var.P",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 660,
        "wires": []
    },
    {
        "id": "c0b0ae7824e649fe",
        "type": "function",
        "z": "6bc919fd9f39f462",
        "name": "Calcul de I",
        "func": "msg.payload.cont.E_int+=msg.payload.var.Erreur;\nmsg.payload.var.I = msg.payload.cont.E_int*msg.payload.cont.Ki;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 740,
        "wires": [
            [
                "023f2b263dbcfa43",
                "ea6432a64e0410a6"
            ]
        ]
    },
    {
        "id": "ea6432a64e0410a6",
        "type": "function",
        "z": "6bc919fd9f39f462",
        "name": "Calcul de D",
        "func": "msg.payload.var.D=(msg.payload.var.Erreur-msg.payload.cont.Eprec)*msg.payload.cont.Kd;\nmsg.payload.cont.Eprec = msg.payload.var.Erreur;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 740,
        "wires": [
            [
                "96adb1eebed413cb",
                "2b367217599aa480"
            ]
        ]
    },
    {
        "id": "023f2b263dbcfa43",
        "type": "debug",
        "z": "6bc919fd9f39f462",
        "name": "Calcul de I",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.var.I",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 660,
        "wires": []
    },
    {
        "id": "96adb1eebed413cb",
        "type": "debug",
        "z": "6bc919fd9f39f462",
        "name": "Calcul de D",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.var.D",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1810,
        "y": 660,
        "wires": []
    },
    {
        "id": "12f0cc2749236668",
        "type": "delay",
        "z": "6bc919fd9f39f462",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2600,
        "y": 740,
        "wires": [
            [
                "be1aa8a0563b0c78"
            ]
        ]
    },
    {
        "id": "fe0f18f1a885619f",
        "type": "change",
        "z": "6bc919fd9f39f462",
        "name": "Eprec_init",
        "rules": [
            {
                "t": "set",
                "p": "payload.cont.Eprec",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 540,
        "wires": [
            [
                "8b8867a22e2246cd"
            ]
        ]
    },
    {
        "id": "2b367217599aa480",
        "type": "function",
        "z": "6bc919fd9f39f462",
        "name": "Ajustement de Pchauf",
        "func": "msg.payload.var.Pchauf=(msg.payload.var.D+msg.payload.var.I+msg.payload.var.P);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1840,
        "y": 740,
        "wires": [
            [
                "d137b1456c2e8090",
                "2430ab65e2d1fab7"
            ]
        ]
    },
    {
        "id": "d137b1456c2e8090",
        "type": "debug",
        "z": "6bc919fd9f39f462",
        "name": "Pchauf",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.var.Pchauf",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2080,
        "y": 660,
        "wires": []
    },
    {
        "id": "f84c89d210eb4c39",
        "type": "comment",
        "z": "6bc919fd9f39f462",
        "name": "init controlleur",
        "info": "",
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "e60e64fc917c0546",
        "type": "comment",
        "z": "6bc919fd9f39f462",
        "name": "init system",
        "info": "",
        "x": 660,
        "y": 660,
        "wires": []
    },
    {
        "id": "411e1cd032bb116f",
        "type": "link in",
        "z": "6bc919fd9f39f462",
        "name": "boucle",
        "links": [
            "be1aa8a0563b0c78"
        ],
        "x": 155,
        "y": 740,
        "wires": [
            [
                "e521d03a63f98daf"
            ]
        ]
    },
    {
        "id": "be1aa8a0563b0c78",
        "type": "link out",
        "z": "6bc919fd9f39f462",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "411e1cd032bb116f"
        ],
        "x": 2705,
        "y": 740,
        "wires": []
    },
    {
        "id": "f9065de5258d68ec",
        "type": "debug",
        "z": "6bc919fd9f39f462",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 780,
        "wires": []
    },
    {
        "id": "403635366a121eec",
        "type": "comment",
        "z": "6bc919fd9f39f462",
        "name": "controlleur",
        "info": "",
        "x": 940,
        "y": 700,
        "wires": []
    },
    {
        "id": "083fc8d44b1c7b6d",
        "type": "comment",
        "z": "6bc919fd9f39f462",
        "name": "systeme",
        "info": "",
        "x": 2380,
        "y": 700,
        "wires": []
    }
]